<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-header">
              <h1>Holla Guys!</h1>
              <h5> Greetings!
                I’m Micheal and
                I’m a Product
                Designer. </h5>
                <div class="card-body">
                  <p>Highly motivated and detail-oriented product manager with a passion for creating innovative solutions. Strong analytical and problem-solving skills coupled with a customer-centric approach. Experienced in project coordination, market research, and product development. Quick learner and effective communicator, adept at collaborating with cross-functional teams to drive successful product outcomes. Seeking opportunities to leverage my skills and contribute to the growth of dynamic organizations.</p>
            </div></div>
          </div>
          <div class="col-lg-6">
            <img src="https://img.freepik.com/free-photo/corporate-young-woman-with-eyeglasses-holding-papers_23-2148452647.jpg?w=1800&t=st=1688626937~exp=1688627537~hmac=f0a7dfe040fd6060f03f55ecad2f721be36dd24e32031c78edb99615ef52efa8" height="150">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Social Plugins</h3>
          <span class="icons"><i class="fa fa-facebook-official" ></i></span>          
        <span class="icons"><i class='fa fa-linkedin'></i></span>
        <span class="icons"><i class='fa fa-whatsapp'></i></span>
        <span class="icons"><i class='fa fa-instagram'></i></span>
        <span class="icons"><i class='fa fa-github'></i></span>
        <span class="icons"><i class='fa fa-youtube'></i></span>
      </div>
  </div>
